<div class="container">
  <div class="signupcontainer">
    <div class="inputscontainer">
      <h1 class="register">Editor de Restaurantes</h1>
      <input
        class="inputs"
        type="text"
        placeholder="Insira o e-mail vinculado ao seu restaurante"
        [(ngModel)]="email"
      />
      <input
        class="inputs"
        type="text"
        placeholder="Insira a senha vinculado ao seu restaurante"
        [(ngModel)]="password"
      />
      <button class="submitRegister" (click)="submitFetch()">Confirmar</button>
    </div>
  </div>
</div>
