<div class="container">
  <div class="signupcontainer">
    <div class="inputscontainer">
      <h1 class="register">Registro de Restaurantes</h1>

      <input
        class="inputs"
        type="text"
        placeholder="Insira o nome do seu restaurante"
        [(ngModel)]='nome'
      />
      <input
        class="inputs"
        type="text"
        placeholder="Insira o preço de entrega do seu restaurante"
        [(ngModel)]='precoDelievery'
      />
      <input
        class="inputs"
        type="text"
        placeholder="Insira o tipo de comida vendida no seu restaurante"
        [(ngModel)]='tipocomida'
      />

      <input
      class="inputs"
      type="text"
      placeholder="Insira o email cadastrado no JaraFoods!"
      [(ngModel)]='email'
    />

      <button class="submitRegister" (click)="submitRegister()">Confirmar cadastro</button>
    </div>
  </div>
</div>
