<div class="header-container">
  <div class="logo-header">
    <img class="logo-header-img" src="../../../../simple-logo-jarafoods.png" />
  </div>

  <div class="text-list">
    <button class="restaurant-text" (click)="redirectRestSignup()">
      Cadastre seu restaurante
    </button>
    <button class="entregador-text" (click)="redirectEntregadorSignup()">
      Seja nosso entregador
    </button>
    <button class="suport-text" (click)="redirectSuport()">
      Suporte
    </button>
  </div>

  <nav class="navigation-header">
    <button class="signup-button" (click)="redirectSignup()">Registre-se</button>

    <button class="signin-button" (click)="redirectSignin()">Entrar</button>
  </nav>
</div>
