<header>
  <div class="containerheader">
    <img class="headerlogo" src="../../../../simple-logo-jarafoods.png" />
    <div class="cart-and-back">
      <a class="goToCartPage" (click)="goToCartPage()">
        <img class="cartimg" src="../../../../shopping-cart.png" />
      </a>
      <button class="logout" (click)="backToList()">Voltar</button>
    </div>
  </div>
</header>

<body>
  <div class="banner">
    <div class="banner-img">
      <img
        src="../../../assets/plant-based-food-mc-220323-02-273c7b.png"
        class="banner-img-main"
      />
    </div>
  </div>
  <br />
  <br />
  <main>
    <ul class="listacomidas">
      <li class="item-list" *ngFor="let listas of foodList[0]">
        <a (click)="addToCart(listas.ID)">
          <div class="foodName">
            {{ listas.NOME }}
          </div>
          <div class="priceFoods">Preço: R${{ listas.PRECOCOMIDA }}</div>
          <div class="foodIMG">
            <img class="restimgmain" src="{{ listas.IMAGEM }}" />
          </div>
          <div class="sendToCart">
            <button
              class="sendToCartButton"
              (click)="sendToCartButton(listas.ID , listas.NOME, listas.PRECOCOMIDA)"
            >
              Adicionar ao Carrinho
            </button>
          </div>
        </a>
      </li>
    </ul>
  </main>
</body>
