<header>
  <div class="containerheader">
    <img class="headerlogo" src="../../../../simple-logo-jarafoods.png" />
    <input
      type="search"
      class="search-header"
      placeholder="Busque um restaurante!"
    />
    <a class="editRest" (click)="editRest()">Edite seu restaurante</a>
    <button class="logout" (click)="logout()">Logout</button>
  </div>
</header>

<main>
  <ul class="listacomidas">
    <li class="item-list" *ngFor="let listas of restlist[0]">
      <a (click)="goToRestPage(listas.ID)">
        <div class="name-rests">
          {{ listas.NOME }}
        </div>
        <div class="delieveryprice">
         Taxa de entrega: {{ listas.PRECODELIEVERY }}
        </div>
        <div class="foodtype">
         Tipo de comida:  {{ listas.TIPOCOMIDA }}
        </div>
        <div class="restimg">
          <img class="restimgmain" src="{{ listas.IMAGEM }}" />
        </div>
      </a>
    </li>
  </ul>
</main>
